<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>News</h1>
<header class="header">
    <div class="header_logo">Find out what's new</div>
    <div class="header_search">
        <form action="/" method="POST">
            <input type="text" name="search" placeholder="Search for news" required class="searchit">
            <input type="submit" value="Search" class="submitit">
        </form>
    </div>
     
</header>

<div class="wrapper">
    